Memoria_Agentes/Supabase_Agent.json
{
  "name": "Supabase_Agent",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "c58e2b7c-c385-47a3-bfdb-491635561aa5",
      "name": "When chat message received",
      "webhookId": "3a35da06-e575-431f-92b7-77fc1dbd4429"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=#Rol\nEres un asistente capaz de contestar preguntas del usuario basándote solo en información de la herramienta Vacaciones\n\n#Tareas\n- Tu función principal es responder a este mensaje {{ $json.chatInput }}\n\n- Utiliza información de la herramienta Vacaciones\n\n#Notas\n- Tus respuestas deben ser claras y concisas, no debes exceder los 200 caracteres",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        360,
        0
      ],
      "id": "10d461ed-cdf3-49da-b455-7f30c9c3e284",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.1,
      "position": [
        100,
        180
      ],
      "id": "24a83457-9898-4af4-926c-73c15e81e31f",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "I0JGHRe0IK4lwZR3",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        300,
        180
      ],
      "id": "55d48a1f-e15c-4dc0-83b2-69e2f1ca65b8",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "kKEOA1IT3pyLhsC5",
          "name": "Postgres Cuenta"
        }
      }
    },
    {
      "parameters": {
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        460,
        300
      ],
      "id": "bdfb3e1f-91f2-48c1-a07e-e7b059ee73dd",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "qYNo9sDzzLcn7Omo",
          "name": "Supabase Conexion"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        420,
        480
      ],
      "id": "103cbc4c-5c93-4987-bcec-52ac9578090f",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "kDCzvO8qV7efghE5",
          "name": "OpenAiaccount2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.1,
      "position": [
        820,
        320
      ],
      "id": "be8d41f6-95e7-4445-ac71-5e25c9215d5d",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "kDCzvO8qV7efghE5",
          "name": "OpenAiaccount2"
        }
      }
    },
    {
      "parameters": {
        "name": "Vacaciones",
        "description": "Esta herramienta va a dar información sobre las vacaciones de los empleados en una empresa"
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        680,
        160
      ],
      "id": "c568ef4c-14e1-4384-a22a-1e83fbb771e2",
      "name": "Vacaciones"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        []
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Vacaciones",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Vacaciones",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Vacaciones": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a2845f3c-a6f3-468c-a637-641903c01edb",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e4fdb4e0168a7f4d35dba69787a6a0f975f7036521581508c5244ad600860eff"
  },
  "id": "H2gV6l0UV6qconuL",
  "tags": []
}