Asistente_Personal/Assistant_Agent.json
{
  "name": "Assistant_Agent",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -220,
        -80
      ],
      "id": "5c352ee1-79c5-4b74-9749-333f725f80a4",
      "name": "When chat message received",
      "webhookId": "5316f312-2cb8-48a4-a3b4-a43639a6f1eb"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=#Rol\nEres un asistente personal que ayudarás al usuario con la gestión de sus clientes\n\n##Tareas\n- Tu función principal es responder a este mensaje {{ $json.chatInput }}\n\n- Utiliza información de la herramienta Clientes para encontrar datos sobre los clientes\n\n- Utiliza la herramienta AgendarReuniones para agendar eventos y reuniones tomando de referencia la hora acutal: {{ $now }}\n\n- Utiliza la herramienta EnviarEmail para enviar correos electrónicos a los clientes\n\n##Notas\n- Tus respuestas deben ser claras y concisas, no debes exceder los 200 caracteres",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        0,
        -80
      ],
      "id": "918c7f4f-9ec3-4898-9e73-d7991f356e0c",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.1,
      "position": [
        -220,
        120
      ],
      "id": "f754c075-b480-4618-993f-0dfb3b03beca",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "I0JGHRe0IK4lwZR3",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -60,
        120
      ],
      "id": "a7a16dfb-a969-4872-adec-06bfa563248b",
      "name": "Window Buffer Memory"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "18T6WjEfJZWKpqR0Lcg_ZCnKZ7M1_qePaL9-e8W5FreU",
          "mode": "list",
          "cachedResultName": "Clientes",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18T6WjEfJZWKpqR0Lcg_ZCnKZ7M1_qePaL9-e8W5FreU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/18T6WjEfJZWKpqR0Lcg_ZCnKZ7M1_qePaL9-e8W5FreU/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        600,
        20
      ],
      "id": "41c19eb6-8d5a-4401-a4ee-211167676eb9",
      "name": "Clientes",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "M4NvdeS4TFxPujrT",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $fromAI(\"emailAdress\",\"email del cliente\") }}",
        "subject": "={{ $fromAI(\"subject\",\"asunto del email\") }}",
        "message": "={{ $fromAI(\"message\",\"contenido del mensaje\") }}",
        "options": {
          "senderName": "Ivan AlsiGo"
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        440,
        120
      ],
      "id": "47de435e-8708-4c96-bdec-4c754251ce9a",
      "name": "EnviarEmail",
      "webhookId": "1039ffeb-0f85-42e8-a20a-c96f829a63d6",
      "credentials": {
        "gmailOAuth2": {
          "id": "vyVUYKafUo94XnPJ",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "formacionivanalsigo@gmail.com",
          "mode": "list",
          "cachedResultName": "formacionivanalsigo@gmail.com"
        },
        "start": "={{ $fromAI(\"startTime\") }}",
        "end": "={{ $fromAI(\"endTime\") }}",
        "additionalFields": {
          "description": "={{$fromAI(\"subject\")}}",
          "summary": "={{$fromAI(\"tittle\", \"el nombre de la reunión\")}}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.2,
      "position": [
        280,
        160
      ],
      "id": "d4403e58-9acc-44ef-b1dc-4620b8df1320",
      "name": "AgendarReuniones",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "XBffab5xLwlHmgZg",
          "name": "Google Calendar account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Clientes": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "EnviarEmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AgendarReuniones": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Madrid",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": -1
  },
  "versionId": "3e2a0353-765a-4d52-95ff-0d782160c6c7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e4fdb4e0168a7f4d35dba69787a6a0f975f7036521581508c5244ad600860eff"
  },
  "id": "mUdlJqBWJDnCZNwZ",
  "tags": []
}