Agentes_Basicos/Agente_1/Agente_1.json
{
  "name": "Agente_1",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "ebf935f2-9e77-41e9-bccb-03157af1ba74",
      "name": "When chat message received",
      "webhookId": "a455dc1e-a598-4ac9-92bd-ad419f4e29df"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=#Rol\nEres un asistente capaz de contestar preguntas del usuario bas치ndote solo en informaci칩n de la Wikipedia\n\n#Tareas\n- Tu funci칩n principal es responder a este mensaje {{ $json.chatInput }}\n\n- Utiliza informaci칩n de la herramienta Wikipedia\n\n#Notas\n- Tus respuestas deben ser claras y concisas, no debes exceder los 200 caracteres",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        220,
        0
      ],
      "id": "0a1652fa-af85-4155-93fc-d968aff14648",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.1,
      "position": [
        60,
        180
      ],
      "id": "3088807f-38dc-46ca-be5f-f0c79d3a3c3d",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "I0JGHRe0IK4lwZR3",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        260,
        160
      ],
      "id": "cd78260c-3bc4-43d3-b64c-a654fd3dcf43",
      "name": "Window Buffer Memory"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolWikipedia",
      "typeVersion": 1,
      "position": [
        500,
        180
      ],
      "id": "9bbd5b13-b096-412b-b214-5a6b6700acf1",
      "name": "Wikipedia"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Wikipedia": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "95c3b04f-9aef-4685-be3a-a7c5e0e38f0b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e4fdb4e0168a7f4d35dba69787a6a0f975f7036521581508c5244ad600860eff"
  },
  "id": "cZ6INrEaDQ8FzWMM",
  "tags": []
}