Bases_Datos/RAG_Input.json
{
  "name": "RAG_Input",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1FG0rW_pesvdp_acCs4W-0uZSRIxe1biO",
          "mode": "list",
          "cachedResultName": "Ecommerce",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1FG0rW_pesvdp_acCs4W-0uZSRIxe1biO"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -100,
        0
      ],
      "id": "42a9b9e8-1410-4021-bafb-446eef16caa5",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "08tvEVT2YQ5NQEjM",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "ecommerce",
          "mode": "list",
          "cachedResultName": "ecommerce"
        },
        "options": {
          "pineconeNamespace": "namespaceecommerce"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1,
      "position": [
        440,
        -20
      ],
      "id": "a2281d84-e41d-4081-afba-cb6de34f35ab",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "t5R5sDYBwSFtSGCo",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.webViewLink }}",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        120,
        0
      ],
      "id": "2835e815-15bc-4dcf-9a90-918d7f6738bb",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "08tvEVT2YQ5NQEjM",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        220,
        240
      ],
      "id": "fc486f2c-f37e-48f0-97d3-d9e3240fc822",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "I0JGHRe0IK4lwZR3",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "data",
                "value": "={{ $json.name }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        600,
        180
      ],
      "id": "6570091a-04ec-4af5-8b63-1592cbe2c18c",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 200,
        "chunkOverlap": 20
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterTokenSplitter",
      "typeVersion": 1,
      "position": [
        560,
        360
      ],
      "id": "5d53a878-f390-46b3-a3c5-ee90585ad41e",
      "name": "Token Splitter"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Token Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b90a8b8f-2ebf-4254-b59e-1ba2f34b88d1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e4fdb4e0168a7f4d35dba69787a6a0f975f7036521581508c5244ad600860eff"
  },
  "id": "YFsNWHfaahiqjLyb",
  "tags": []
}