Agentes_Basicos/Agente_2/Agente_2.json
{
  "name": "Agente_2",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "057fdedf-5c03-4264-911b-b0254693c088",
      "name": "When chat message received",
      "webhookId": "7403bf55-fd1f-4941-9d2a-581ed26f5936"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=#Rol\nEres un asistente capaz de enviar emails\n\n#Tareas\n- Tu función principal es responder a este mensaje {{ $json.chatInput }}\n\n- Utiliza la herramienta Emails para enviar correos electrónicos\n\n#Notas\n- Para enviar un email debes pedirle al usuario el email del destinatario, y lo que quiere enviar por correo.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        220,
        0
      ],
      "id": "8f5f285f-cf28-49d0-9d30-828ac67366ec",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.1,
      "position": [
        80,
        180
      ],
      "id": "30df1ca1-1a9a-4564-9dbf-132d2e115c8b",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "I0JGHRe0IK4lwZR3",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        220,
        180
      ],
      "id": "ae662818-0979-4e9a-9298-fe42462a0485",
      "name": "Window Buffer Memory"
    },
    {
      "parameters": {
        "sendTo": "={{ $fromAI(\"emailAddress\",\"el email del destinatario\") }}",
        "subject": "={{ $fromAI(\"subject\",\"el asunto del email\") }}",
        "message": "={{ $fromAI(\"message\",\"contenido del mensaje\") }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        520,
        180
      ],
      "id": "45dfb9f7-456d-4e69-97a0-278e1778155c",
      "name": "Emails",
      "webhookId": "caf64480-fa3a-4b48-b443-333efe45774e",
      "credentials": {
        "gmailOAuth2": {
          "id": "vyVUYKafUo94XnPJ",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Emails": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "21d2c50f-4317-4a89-a5d4-2a0567145f29",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e4fdb4e0168a7f4d35dba69787a6a0f975f7036521581508c5244ad600860eff"
  },
  "id": "STmdL4aedPwAbjqv",
  "tags": []
}